body{
    background-color: white;
}
#cabecera{
   height: 66px;
}
#titulo{
    color: #1B1E3B;
}
.resenia{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1B1E3B;
}
#navbar2{
    border-style: none;
}
#navbar{
    background-color: transparent;
    color: #1B1E3B;
    border-style: hidden;
}
#navbar .enlaces{
    color: #1B1E3B;
}
#footer{
    background-color: #1E1E1E;
}
.animado{
    opacity: 0;
    transition: all 0.3s;
}
.mostrarArriba{
    animation: mostrarArriba 2s;
}
@keyframes mostrarArriba{
    0%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0);
    }
}